*.gem
*.rbc
*.swp
*.swo
.bundle
.config
shared
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
settings.yml
production.rb
staging.rb
bitex_bot.db
bitex_bot.log
bitex_bot.db-journal
.vscode/
bin/
