---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/coin_wallets/btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"d0f97003b5150b18ed0abd42f3097a04"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"7347","type":"coin_wallets","attributes":{"balance":23.10785424,"available":23.08342157,"currency":"btc","address":"mu4DKZpadxMgHtRSLwQpaQ9eTTXDEjWZUF","auto_sell_address":"msmet4V5WzBjCR4tr17cxqHKw1LJiRnhHH"}}}'
  recorded_at: Fri, 12 Apr 2019 22:27:44 GMT
- request:
    method: get
    uri: https://sandbox.bitex.la/api/cash_wallets/usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"6c0b24b8af86812351bb67e9d95022bd"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"7349","type":"cash_wallets","attributes":{"balance":4919992.91,"available":4919992.91,"currency":"usd"}}}'
  recorded_at: Fri, 12 Apr 2019 22:27:46 GMT
recorded_with: VCR 4.0.0
