---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/orders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"01136a9cc57967be17f842a257b609cf"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"5036","type":"bids","attributes":{"amount":8600.0,"remaining_amount":8600.0,"price":4300.0,"status":"executing","orderbook_code":"btc_usd","created_at":"2019-04-15T16:34:32.174Z"},"relationships":{"user":{"data":{"id":"571","type":"users"}}}},{"id":"2499","type":"asks","attributes":{"amount":0.025,"remaining_amount":0.02443267,"price":176264.176044,"status":"executing","orderbook_code":"btc_ars","created_at":"2019-04-05T19:08:57.619Z"},"relationships":{"user":{"data":{"id":"571","type":"users"}}}}]}'
  recorded_at: Mon, 15 Apr 2019 16:36:33 GMT
- request:
    method: post
    uri: https://sandbox.bitex.la/api/bids/5036/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 15 Apr 2019 16:36:34 GMT
recorded_with: VCR 4.0.0
