---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/markets/btc_usd?include=asks,bids
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"809768acfebfc9b441762a717606e31a"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"btc_usd","type":"markets","relationships":{"candles":{"data":[]},"transactions":{"data":[]},"bids":{"data":[{"id":"4100.0","type":"order_groups"},{"id":"4050.0","type":"order_groups"},{"id":"4000.0","type":"order_groups"},{"id":"3185.0","type":"order_groups"},{"id":"3000.0","type":"order_groups"},{"id":"2200.0","type":"order_groups"},{"id":"235.5","type":"order_groups"},{"id":"210.0","type":"order_groups"},{"id":"200.0","type":"order_groups"},{"id":"56.0","type":"order_groups"},{"id":"33.0","type":"order_groups"},{"id":"32.0","type":"order_groups"},{"id":"5.0","type":"order_groups"},{"id":"4.0","type":"order_groups"},{"id":"3.0","type":"order_groups"},{"id":"2.0","type":"order_groups"},{"id":"1.0","type":"order_groups"}]},"asks":{"data":[{"id":"4400.0","type":"order_groups"},{"id":"5000.0","type":"order_groups"}]}}},"included":[{"id":"4100.0","type":"order_groups","attributes":{"price":4100.0,"amount":25.007783841463}},{"id":"4050.0","type":"order_groups","attributes":{"price":4050.0,"amount":2.962962962963}},{"id":"4000.0","type":"order_groups","attributes":{"price":4000.0,"amount":0.00375}},{"id":"3185.0","type":"order_groups","attributes":{"price":3185.0,"amount":438.218204784757}},{"id":"3000.0","type":"order_groups","attributes":{"price":3000.0,"amount":1.666666666667}},{"id":"2200.0","type":"order_groups","attributes":{"price":2200.0,"amount":4.000909090909}},{"id":"235.5","type":"order[...]
