---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/orders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"2be1ff68cc88f7f607c4746e5249f132"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"4253","type":"bids","attributes":{"amount":12000.0,"remaining_amount":12000.0,"price":4050.0,"status":"executing","orderbook_code":"btc_usd","created_at":"2019-02-04T13:45:37.160Z"},"relationships":{"user":{"data":{"id":"571","type":"users"}}}},{"id":"4257","type":"bids","attributes":{"amount":200000.0,"remaining_amount":199399.999989,"price":3000.0,"status":"executing","orderbook_code":"bch_usd","created_at":"2019-02-04T10:45:37.160Z"},"relationships":{"user":{"data":{"id":"571","type":"users"}}}},{"id":"4258","type":"bids","attributes":{"amount":50000.0,"remaining_amount":50000.0,"price":1000.0,"status":"executing","orderbook_code":"bch_usd","created_at":"2019-02-04T09:45:37.160Z"},"relationships":{"user":{"data":{"id":"571","type":"users"}}}},{"id":"1598","type":"asks","attributes":{"amount":4.0,"remaining_amount":4.0,"price":5000.0,"status":"executing","orderbook_code":"btc_usd","created_at":"2019-02-04T08:45:37.160Z"},"relationships":{"user":{"data":{"id":"571","type":"users"}}}},{"id":"1599","type":"asks","attributes":{"amount":0.4,"remaining_amount":0.4,"price":5000.0,"status":"executing","orderbook_code":"bch_usd","created_at":"2019-02-04T07:45:37.160Z"},"relationships":{"user":{"data":{"id":"571","type":"users"}}}}]}'
  recorded_at: Mon, 04 Feb 2019 19:04:35 GMT
recorded_with: VCR 4.0.0
