---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bitex.la/api/bids
    body:
      encoding: UTF-8
      string: '{"data":{"type":"bids","attributes":{"orderbook_code":"btc_usd","amount":2,"price":3500}}}'
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"d2d2fa79c7c22436e5cd6cdd35438f1e"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"4259","type":"bids","attributes":{"amount":2.0,"remaining_amount":2.0,"price":3500.0,"status":"pending","orderbook_code":"btc_usd","created_at":"2019-02-05T20:45:37.160Z"},"relationships":{"user":{"data":{"id":"571","type":"users"}}}}}'
  recorded_at: Tue, 05 Feb 2019 20:44:07 GMT
recorded_with: VCR 4.0.0
