---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/trades?filter%5Bdays%5D=1&filter%5Borderbook_code%5D=btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 468d230658a4f6285ecd0ba31366eb72c001b2fe48393e7824adb25f1d85171d1363a7cff0415f9a
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"113359e9595cfa4a74508919ada43eb9"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"1658","type":"buys","attributes":{"created_at":"2019-02-07T20:07:46.073Z","coin_amount":0.00022671,"cash_amount":1.0,"fee":0.00000056,"price":4400.0,"fee_currency":"BTC","fee_decimals":8,"orderbook_code":"btc_usd"},"relationships":{"order":{"data":{"id":"4260","type":"bids"}}}},{"id":"1657","type":"sells","attributes":{"created_at":"2019-02-07T20:07:33.919Z","coin_amount":1.0,"cash_amount":4089.75,"fee":10.25,"price":4100.0,"fee_currency":"USD","fee_decimals":2,"orderbook_code":"btc_usd"},"relationships":{"order":{"data":{"id":"1600","type":"asks"}}}}]}'
  recorded_at: Thu, 07 Feb 2019 20:08:07 GMT
recorded_with: VCR 4.0.0
