---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/transactions?filter%5Borderbook_code%5D=btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"25e1a774637c54d5a6997d5dafecb2dd"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"1967","type":"transactions","attributes":{"datetime":"2019-03-21T17:27:02.000Z","price":4380.0,"amount":0.001,"orderbook_code":"btc_usd"}},{"id":"1966","type":"transactions","attributes":{"datetime":"2019-03-21T17:26:46.000Z","price":4370.0,"amount":0.001,"orderbook_code":"btc_usd"}}]}'
  recorded_at: Thu, 21 Mar 2019 17:27:55 GMT
recorded_with: VCR 4.0.0
