---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/transactions?filter%5Borderbook_code%5D=btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"cf9aef0d9038a85e66a02745d7fe5f46"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"1654","type":"transactions","attributes":{"timestamp":1549294667,"price":4400.0,"amount":0.00022727,"orderbook_code":"btc_usd"}},{"id":"1653","type":"transactions","attributes":{"timestamp":1549294662,"price":4400.0,"amount":0.00045454,"orderbook_code":"btc_usd"}},{"id":"1652","type":"transactions","attributes":{"timestamp":1549294650,"price":4100.0,"amount":1.0,"orderbook_code":"btc_usd"}},{"id":"1651","type":"transactions","attributes":{"timestamp":1549294638,"price":4100.0,"amount":0.666,"orderbook_code":"btc_usd"}},{"id":"1650","type":"transactions","attributes":{"timestamp":1549294621,"price":4100.0,"amount":1.0,"orderbook_code":"btc_usd"}},{"id":"1649","type":"transactions","attributes":{"timestamp":1549294609,"price":4100.0,"amount":2.0,"orderbook_code":"btc_usd"}}]}'
  recorded_at: Mon, 04 Feb 2019 15:38:19 GMT
recorded_with: VCR 4.0.0
