---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/transactions?filter%5Borderbook_code%5D=btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"da6ceaa96b268e588c2f9f7030e244ac"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"2068","type":"transactions","attributes":{"datetime":"2019-04-15T18:33:18.000Z","price":4400.0,"amount":1.0,"orderbook_code":"btc_usd"}},{"id":"2067","type":"transactions","attributes":{"datetime":"2019-04-15T18:33:00.000Z","price":4100.0,"amount":3.0,"orderbook_code":"btc_usd"}}]}'
  recorded_at: Mon, 15 Apr 2019 18:43:12 GMT
recorded_with: VCR 4.0.0
