---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/trades?filter%5Bdays%5D=30&filter%5Borderbook_code%5D=btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"9862418ead25a12250adbc7296f62eac"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"1654","type":"buys","attributes":{"created_at":"2019-02-04T15:37:47.868Z","coin_amount":0.00022671,"cash_amount":1.0,"fee":0.00000056,"price":4400.0,"fee_currency":"BTC","fee_decimals":8,"orderbook_code":"btc_usd"},"relationships":{"order":{"data":{"id":"4255","type":"bids"}}}},{"id":"1653","type":"buys","attributes":{"created_at":"2019-02-04T15:37:42.669Z","coin_amount":0.00045341,"cash_amount":2.0,"fee":0.00000113,"price":4400.0,"fee_currency":"BTC","fee_decimals":8,"orderbook_code":"btc_usd"},"relationships":{"order":{"data":{"id":"4254","type":"bids"}}}},{"id":"1652","type":"sells","attributes":{"created_at":"2019-02-04T15:37:30.407Z","coin_amount":1.0,"cash_amount":4089.75,"fee":10.25,"price":4100.0,"fee_currency":"USD","fee_[...]
