---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/trades?filter%5Bdays%5D=30&filter%5Borderbook_code%5D=btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"fc88099803cf13b7c5307fafe063c755"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"2068","type":"buys","attributes":{"created_at":"2019-04-15T18:33:18.550Z","coin_amount":0.9975,"cash_amount":4400.0,"fee":0.0025,"price":4400.0,"fee_currency":"BTC","fee_decimals":8,"orderbook_code":"btc_usd"},"relationships":{"order":{"data":{"id":"5037","type":"bids"}}}},{"id":"2067","type":"sells","attributes":{"created_at":"2019-04-15T18:33:00.741Z","coin_amount":3.0,"cash_amount":12269.25,"fee":30.75,"price":4100.0,"fee_currency":"USD","fee_decimals":2,"orderbook_code":"btc_usd"},"relationships":{"order":{"data":{"id":"2504","type":"asks"}}}},{"id":"2066","type":"sells","attributes":{"created_at":"2019-04-15T16:15:54.530Z","coin_amount":0.00046511,"cash_amount":1.995,"fee":0.005,"price":4300.0,"fee_currency":"USD","fee_d[...]
