---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/bids?filter%5Borderbook_code%5D=btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - yout_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"e0234245cb00aa260ccfa99a9a0b235e"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Mon, 15 Apr 2019 16:18:53 GMT
- request:
    method: get
    uri: https://sandbox.bitex.la/api/buys?filter%5Borderbook_code%5D=btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"bf3a64ac8a1d1eacca180475d1dfdf39"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"2066","type":"buys","attributes":{"created_at":"2019-04-15T16:15:54.530Z","coin_amount":0.00046395,"cash_amount":2.0,"fee":0.00000116,"price":4300.0,"fee_currency":"BTC","fee_decimals":8,"orderbook_code":"btc_usd"},"relationships":{"order":{"data":{"id":"5035","type":"bids"}}}},{"id":"2041","type":"buys","attributes":{"created_at":"2019-04-05T17:41:54.430Z","coin_amount":0.00002267,"cash_amount":0.1,"fee":0.00000005,"price":4400.0,"fee_currency":"BTC","fee_decimals":8,"orderbook_code":"btc_usd"},"relationships":{"order":{"data":{"id":"5014","type":"bids"}}}},{"id":"1711","type":"buys","attributes":{"created_at":"2019-03-14T00:48:19.146Z","coin_amount":0.9975,"cash_amount":4400.0,"fee":0.0025,"price":4400.0,"fee_currency":"BTC","fe[...]
- request:
    method: get
    uri: https://sandbox.bitex.la/api/bids/5035
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"a2e4c880e0476234a7d2af247d37bac3"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"5035","type":"bids","attributes":{"amount":2.0,"remaining_amount":0.0,"price":4300.0,"status":"completed","orderbook_code":"btc_usd","created_at":"2019-04-15T16:13:40.434Z"},"relationships":{"user":{"data":{"id":"571","type":"users"}}}}}'
  recorded_at: Mon, 15 Apr 2019 16:19:13 GMT
recorded_with: VCR 4.0.0
