---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/bids?filter%5Borderbook_code%5D=btc_usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"320c2b309ba188ea9eac5129a7833c26"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"5035","type":"bids","attributes":{"amount":2.0,"remaining_amount":2.0,"price":4300.0,"status":"executing","orderbook_code":"btc_usd","created_at":"2019-04-15T16:13:40.434Z"},"relationships":{"user":{"data":{"id":"571","type":"users"}}}}]}'
  recorded_at: Mon, 15 Apr 2019 16:14:02 GMT
recorded_with: VCR 4.0.0
