---
http_interactions:
- request:
    method: post
    uri: https://api.kraken.com/0/private/QueryOrders
    body:
      encoding: UTF-8
      string: nonce=1019699815302021252&txid=OE35BB-5R5Z5-H3A342
    headers:
      Api-Key:
      - "your_api_key"
      Api-Sign:
      - 4NuHXz5hEDr4+fn9wdHJxAqP8BC45u+MkG4UAnShflyS9Zr0KO6cCdZ8z/x1qJZL1B+uQWTXlkhstEXwAo7uzA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":[],"result":{"OE35BB-5R5Z5-H3A342":{"refid":null,"userref":0,"status":"closed","reason":null,"opentm":1555937496.6264,"closetm":1555937496.6372,"starttm":0,"expiretm":0,"descr":{"pair":"XBTUSD","type":"buy","ordertype":"limit","price":"5307.7","price2":"0","leverage":"none","order":"buy
        0.00500000 XBTUSD @ limit 5307.7","close":""},"vol":"0.00500000","vol_exec":"0.00500000","cost":"26.5","fee":"0","price":"5307.7","stopprice":"0.00000","limitprice":"0.00000","misc":"","oflags":"fciq"}}}'
  recorded_at: Mon, 22 Apr 2019 13:07:19 GMT
recorded_with: VCR 4.0.0
