---
http_interactions:
- request:
    method: get
    uri: https://sandbox.bitex.la/api/orders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - your_magic_api_key
      Version:
      - '2.1'
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"b6e18b1bdc28d51e433d58cff4a1d813"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"4253","type":"bids","attributes":{"amount":12000.0,"remaining_amount":12000.0,"price":4050.0,"status":"executing","orderbook_code":"btc_usd","created_at":"2019-01-16T19:45:37.160Z"},"relationships":{"user":{"data":{"id":"571","type":"users"}}}}]}'
  recorded_at: Mon, 04 Feb 2019 17:24:55 GMT
recorded_with: VCR 4.0.0
